<!DOCTYPE html> 
<html lang=en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>[% settings.appname %]</title>

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" >
<link rel="stylesheet" href="[% request.uri_base %]/font-awesome/css/font-awesome.css" >
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" >

</head>
<body>

[% content %]

<script src="[% request.uri_base %]/javascripts/jquery-latest.min.js"></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
		$("[data-toggle='tooltip']").tooltip();
		$('#ramp-controls').hide();
		$('#mode').change(function(){
			if($('#mode').val() == 'Ramp') {
			$('#ramp-controls').show(); 
			$('#const-controls').hide(); 
			} else {
			$('#ramp-controls').hide(); 
			$('#const-controls').show(); 
			} 
			});
		});
</script>


</body>
</html>
