<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>[% settings.appname %]</title>

<link rel="stylesheet" href="[% request.uri_base %]/bootstrap/css/bootstrap.css" >
<link rel="stylesheet" href="[% request.uri_base %]/fontawesome/css/font-awesome.css" >
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" >

</head>
<body>

[% content %]

<script src="[% request.uri_base %]/javascripts/jquery-1.7.2.min.js"></script>
<script src="[% request.uri_base %]/bootstrap/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function()
      {
      });
</script>


</body>
</html>
